{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% load i18n %}

{% load persian_number %}

{% load humanize %}

{% block page_title %}{% trans 'order page' %}{% endblock page_title %}

{% block content %}

    {% trans 'order' as x %}
    {% include 'cart/Breadcrumb.html' with breadcrumb=x %}

    {% include 'cart/cart_side.html' %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content- pb--30">
        <div class="page-content-inner">
            <div class="container">
                <div class="row pt--50 pt-md--40 pt-sm--20"></div>
                <div class="row pb--80 pb-md--60 pb-sm--40">
                    <!-- Checkout Area Start -->
                    <div class="col-lg-6">
                        <div class="checkout-title mt--10">
                            <h2>جزئیات سفارش</h2>
                        </div>
                        <div class="checkout-form">
                            <form action="" class="form form--checkout" method="POST">
                                {% csrf_token %}
                                {% if order_form.errors %}
                                    <div class="alert alert-danger">
                                        {{ order_form.errors }}
                                    </div>
                                {% endif %}
                                <div class="form-row mb--20">
                                    <div class="form__group col-md-6 mb-sm--30">
                                        <label for="first_name"
                                               class="form__label form__label--2">نام <span
                                                class="required">*</span></label>
                                        <input type="text" name="{{ order_form.first_name.name }}"
                                               id="first_name"
                                               class="form__input form__input--2">
                                    </div>
                                    <div class="form__group col-md-6">
                                        <label for="last_name"
                                               class="form__label form__label--2">نام
                                            خانوادگی <span
                                                    class="required">*</span></label>
                                        <input type="text" name="{{ order_form.last_name.name }}"
                                               id="last_name"
                                               class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="phone_number"
                                               class="form__label form__label--2">شماره
                                            همراه <span
                                                    class="required">*</span></label>
                                        <input type="text" name="{{ order_form.phone_number.name }}"
                                               id="phone_number"
                                               class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row mb--20">
                                    <div class="form__group col-12">
                                        <label for="address"
                                               class="form__label form__label--2">آدرس</label>
                                        <input type="text" name="{{ order_form.address.name }}"
                                               id="address"
                                               class="form__input form__input--2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form__group col-12">
                                        <label for="notes"
                                               class="form__label form__label--2">یادداشت
                                            شما</label>
                                        <textarea
                                                class="form__input form__input--2 form__input--textarea"
                                                id="notes" name="{{ order_form.notes.name }}"
                                                placeholder="اگر یادداشتی دارید در اینجا وارد کنید. در غیر این صورت این مکان را خالی بگذارید"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn mt-5">{% trans 'save' %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                        <div class="order-details">
                            <div class="checkout-title mt--10">
                                <h2>{% trans 'your order' %}</h2>
                            </div>
                            <div class="table-content table-responsive mb--30">
                                <table class="table order-table order-table-2">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'product' %}</th>
                                        <th class="text-right">{% trans 'price' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <th>{{ item.product_obj.title }}
                                                <strong><span>&#10005;</span>{{ item.quantity }}</strong>
                                            </th>
                                            <td class="text-right">{{ item.product_obj.price|intcomma:False|translate_number }} {% trans '$' %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>{% trans 'total price' %}</th>
                                        <td class="text-right">{{ cart.get_total_price|intcomma:False|translate_number }} {% trans '$' %}</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="checkout-payment">
                                <h2 class="py-5">{% trans 'payment ways' %}</h2>
                                <form action="#" class="payment-form">
                                    <div class="payment-group mb--10">
                                        <div class="payment-radio">
                                            <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                            <label class="payment-label"
                                                   for="cheque">{% trans 'zarinpal payment' %}</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock content %}
